.colecoes .card {
    background-color: #D8E3F2;
    display: flex;
    width: 405px;
    height: 251px;
    width: 18rem;

    P {
        position: absolute;
        top: 20%;
        left: 20%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        background-color: #E7FF86;
        border-radius: 50px;
        padding: 5px;
    }

    a {
        display: flex;
        position: absolute;
        top: 75%;
        left: 25%;
        transform: translate(-50%, -50%);
        width: 153px;
        height: 48px;
        border-radius: 8px;
        background-color: #F5F5F5;
        color: #C92071;
        border: none;
        font-family: inter;
        font-size: 16px;
        justify-content: center;
        align-items: center;
        font-weight: 700;
    }

}